@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --color-lightgray: hsl(10, 10%, 59%);
  --color-darkgray: hsl(0, 0%, 17%);
}

* {
  font-family: Rubik;
}
